#postersTable {
	width: 100%;
	table-layout: fixed;
}

#postersTable td {
	padding: 2px;
}

#postersTable a {
	padding: 3px;
}

#postersTable img {
	width: 100%;
	height: 130px;
}

#optionsTable {
	width: 60%;
}