#postersTable {
	width: 100%;
	table-layout: fixed;
}

#postersTable td {
	padding: 2px;
}

#postersTable a {
	padding: 3px;
}

#postersTable img {
	width: 100px;
	height: 130px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#optionsTable {
	width: 60%;
}

#eoptionsTable {
	width: 60%;
}