{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<!-- Content Part -->
<div class="jumbotron">
	<h5> Options </h5>
	<table class="table" id="eoptionsTable">
		<tbody>
			<tr>
				<td style="width: 15%;">
					<input class="form-control mr-sm-2" type="text" placeholder="Start year" id="eoptionsSyear">
				</td>
				<td style="width: 15%;">
					<input class="form-control mr-sm-2" type="text" placeholder="End year" id="eoptionsEyear">
				</td>
				<td style="width: 20%;">
					<select multiple="" class="form-control" id="eoptionsGenre"></select>
				</td>
				<td style="width: 15%;">
					<select class="form-control" id="eoptionsFeature"></select>
				</td>
				<td style="width: 10%">
					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="eoptionsOpr" id="eoptionsGenreAnd" checked=""> AND
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="eoptionsOpr"> OR
						</label>
					</div>
				</td>
				<td style="width: 25%">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit" id="eoptionsSubmit">Plot</button>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table">
		<tbody>
			<tr>
				<td style="width: 80%">
					<h5> Bokeh Plot </h5>
					<div id="plot1"></div> 
				</td>
				<td style="width: 20%">
					<h5> Stats </h5>
					<table class="table table-hover" id="statsTable">
						<thead>
							<tr>
								<th style="width: 50%">Genre</th>
								<th style="width: 50%">Frequency</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Script Part -->
<script src="{% static 'js/movies.js' %}"></script>
<script type="text/javascript">embeddings.init(); </script>

{% endblock content %}