{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<!-- Content Part -->
<div class="jumbotron">
	<h5> Options </h5>
	<table class="table" id="optionsTable">
		<tbody>
			<tr>
				<td style="width: 15%;">
					<input class="form-control mr-sm-2" type="text" placeholder="Start year" id="optionsSyear">
				</td>
				<td style="width: 15%;">
					<input class="form-control mr-sm-2" type="text" placeholder="End year" id="optionsEyear">
				</td>
				<td style="width: 20%;">
					<select multiple="" class="form-control" id="optionsGenre"></select>
				</td>
				<td style="width: 10%">
					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="optionsOpr" id="optionsGenreAnd" checked=""> AND
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="optionsOpr"> OR
						</label>
					</div>
				</td>
				<td style="width: 10%">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit" id="optionsSubmit">Search</button>
				</td>
				<td style="width: 15%;">
					<select class="form-control" id="optionsFeature"></select>
				</td>
				<td style="width: 15%;">
					<input class="form-control mr-sm-2" type="text" placeholder="K Neighbours" id="optionsK">
				</td>
			</tr>
		</tbody>
	</table>

	<h5> Movie Posters </h5>
	<table class="table" id="postersTable">
		<tbody>
		</tbody>
	</table>

	<h5> Top K neighbours </h5>
	<table class="table table-hover" id="topNeighboursTable">
		<tbody>
		</tbody>
	</table>
</div>

<!-- Script Part -->
<script src="{% static 'js/movies.js' %}"></script>
<script type="text/javascript">top_k_neighbours.init(); </script>

{% endblock content %}